    @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
    html,body{
      margin: 0;
      padding: 0;
      height: 100vh;
    }

    body{
      background-color: #ECF2FF;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Hanken Grotesk", sans-serif;
      font-optical-sizing: auto;
    }
    main{
      background-color: white;
      width: 600px;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      border-radius:  30px;

    }
    .left-side{
            background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
            padding: 20px 50px;
            text-align: center;
            border-radius: 30px;
          }

    .header-left{
      color: hsl(241, 100%, 90%);
      font-size: 1.1rem;
      font-weight: 600;
    }
    .stats{
      background-image:linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0)) ;
      width: 150px;
      height: 150px;
      margin-inline: auto;
      border-radius: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .stats p{
      margin: 0;
    }
    .first-stat{
      color: white;
      font-weight: 900;
      font-size: 60px;
    }
    .second-stat{
      color: gray;
      font-size: 14px;
    }
    .great{
      font-size: 28px;
      color: white;
      font-weight: 800;
      margin-bottom: 0;
    }
    .score{
      font-size: 14px;
      color: rgba(255, 255, 255, 0.726);
      margin-bottom: 20px;
    }

    .right-side{
      padding: 15px 30px;
    }
    .header-right{
      font-size: 20px;
      font-weight: 500;
    }
    .summary-cart{
      background-color: #FFF6F7;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 200px;
      border-radius: 10px;
      padding-inline: 20px;
      margin-bottom: 10px;
    }
    .iconName{
      display: flex;
      gap: 10px;
    }
    .rating{
      font-weight: 600;
    }
    .rating span{
      color: gray;
    }

    .sumary-cart-2{
    background-color: #FFFAF4;
    }
    .sumary-cart-3{
    background-color: #F2FDF9;
    }
    .sumary-cart-4{
    background-color: #F4F4FF;
    }

    button{
      display: block;
      margin-inline: auto;
      margin-top: 30px;
      margin-bottom: 15px;
      background-color: #303B59;
      color: white;
      padding: 13px 80px;
      font-weight: 600;
      font-size: 17px;
      border-radius: 40px;
      cursor: pointer;
      border: none;
      transition: all 0.35s;
    }

    button:active{
      background-color: hsl(234, 85%, 45%);
    }


    @media (max-width:412px) {
      body{
        display: flex;
        justify-content: center;
        align-items: start;
        background-color: white;
      }
      main{
        display: flex;
        flex-direction: column;
        border-radius: 0;
      }
      .left-side{
        border-radius: 0 0 60px 60px;
      }
      .score{
        font-size: 16px;
      }
      .right-side{
        margin-inline: auto;
      }
      .summary-cart{
        width: 260px;
        height: 60px;
        margin-bottom: 20px;
      }
      button{
        padding: 20px 120px;

      }
    }